.navbar-container {
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: #ccc #002244 #002244 #ccc;
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #002244;
  border-color: #ccc #002244 #002244 #ccc;
  border-width: 2px;
  border-style: solid;
  padding: 2px;
  margin-right: 2px;
  display: inline;
}

a:active {
  box-shadow: inset 1px 1px 3px #002244;
  border-width: 0px 2px 2px 0px;
  border-color: #ccc;
  outline: 0;
}

.cart-badge {
  background-color: #69be28;
  padding-left: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}