<div class="screen">
  <div class="login-window">
    <div class="header-row">
      <p class="header">Please Sign In</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <div class="input-column">
        <label>Email</label>
        <input formControlName="email" [pattern]="emailRegex" required />
        <div
          *ngIf="
            (loginForm?.controls.email.touched || submitted) &&
            loginForm?.controls.email.errors
          "
          class="error-wrapper"
        >
          <p *ngIf="loginForm?.controls.email.errors?.required">Required</p>
          <p *ngIf="loginForm?.controls.email.errors?.pattern">Invalid Email</p>
        </div>
      </div>
      <div class="input-column">
        <label>Password</label>
        <input formControlName="password" type="password" required />
        <div
          *ngIf="
            (loginForm?.controls.password.touched || submitted) &&
            loginForm?.controls.password.errors
          "
          class="error-wrapper"
        >
          <p *ngIf="loginForm?.controls.password.errors?.required">Required</p>
        </div>
      </div>
      <button class="submit-btn" type="submit">Sign In</button>
    </form>
  </div>
</div>
