.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.login-window {
  border-color: #ccc #002244 #002244 #ccc;
  border-width: 2px;
  border-style: solid;
  padding: 0.25rem;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.header-row {
  background-color: #002244;
  padding: 4px;
  margin-bottom: 0.5rem;
}

.header {
  color: #fff;
  margin: 0;
}

.input-column {
  flex-direction: column;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
}

input {
  width: 100%;
  border-color: #848484 #ccc #ccc #848484;
  border-width: 2px;
  border-style: solid;
}

.error-wrapper {
  color: #8b0015;
  font-weight: 500;
  width: 100%;
  margin-left: 0.25rem;
}

.error-wrapper p {
  margin-top: 0.25rem;
  padding-left: 0.25rem;
  margin-bottom: 0;
  border: 1px solid #fff;
  box-shadow: #848484 -1px -1px 0px 1px, #848484 -1px -1px 0px 1px inset;
}

.submit-btn {
  padding: 0.5rem;
  font-weight: 600;
  color: #002244;
  border-color: #ccc #002244 #002244 #ccc;
  border-width: 2px;
  border-style: solid;
  background-color: #a5acaf;
  box-shadow: 1px 1px 1px #002244, 3px 3px 6px 1px #8091a2;
  align-self: flex-end;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
}

.submit-btn:active {
  box-shadow: inset 1px 1px 3px #002244;
  border-width: 0px 2px 2px 0px;
  border-color: #ccc;
}

.hourglass {
  align-self: flex-end;
  width: 6rem;
  height: 6rem;
}

form {
  display: flex;
  flex-direction: column;
}
