<div class="screen">
  <div class="login-window">
    <div class="header-row">
      <p class="header">Please Sign In</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <div class="input-column">
        <label>User name</label>
        <input formControlName="username" required />
        <div
          *ngIf="
            (loginForm?.controls.username.touched || submitted) &&
            loginForm?.controls.username.errors
          "
          class="error-wrapper"
        >
          <p *ngIf="loginForm?.controls.username.errors?.required">Required</p>
        </div>
      </div>
      <div class="input-column">
        <label>Password</label>
        <input formControlName="password" type="password" required />
        <div
          *ngIf="
            (loginForm?.controls.password.touched || submitted) &&
            loginForm?.controls.password.errors
          "
          class="error-wrapper"
        >
          <p *ngIf="loginForm?.controls.password.errors?.required">Required</p>
        </div>
      </div>
      <div *ngIf="error | async" class="error-wrapper">
        <p>{{ error | async }}</p>
      </div>
      <button *ngIf="!(loading | async)" class="submit-btn" type="submit">
        Sign In
      </button>
    </form>
  </div>
</div>
