<div *ngIf="detailedCart" class="cart">
  <div class="header-row">
    <p class="header">Cart</p>
  </div>
  <div *ngFor="let prod of detailedCart.cartProducts" class="item-container">
    <div class="title-row">
      <img class="img" src="{{ prod.image }}" />
      <p>{{ prod.title }}</p>
      <button class="remove-btn" (click)="adjustQty(prod.id, 0)">
        &#10005;
      </button>
    </div>
    <hr />
    <div class="row">
      <div>
        <p>Price:</p>
        <p>{{ prod.price | currency }}</p>
      </div>
      <div>
        <p>Quantity:</p>
        <div class="input-row">
          <button (click)="adjustQty(prod.id, prod.qty - 1)">-</button>
          <input class="num-input" value="{{ prod.qty }}" />
          <button (click)="adjustQty(prod.id, prod.qty + 1)">+</button>
        </div>
      </div>
      <div>
        <p>Subtotal:</p>
        <p>{{ prod.subTotal | currency }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="!detailedCart.cartProducts.length" class="cart-empty">
      Cart is empty
    </div>
    <div class="total-text">
      Total: {{ detailedCart.totalPrice | currency }}
    </div>
  </div>
</div>
