/* Add application styles & imports to this file! */

body {
  color: #002244;
  background-color: #a5acaf;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

button {
  font-family: 'Times New Roman', Times, serif;
}
